<!DOCTYPE html>
<html>
<title>Ontario Covid 2020</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/themes.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

html,h1,h4 {font-family: 'Lato', sans-serif;}
h2,h3 {font-family: 'Roboto', sans-serif;}
body,h5 {font-family: 'Raleway', sans-serif;}

</style>

<!-- Top container -->
<div class="container {{ theme }}">
{% block content %}{% endblock %}

  <!-- Footer -->
  <footer>
    <h4 class="{{ theme }}-t-title"><b>Powered by Fifi</b></h4>
    <a class=" {{ theme }}-t-title"><b>Todd McCullough</b></a>&nbsp;
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-t-title fa fa-twitter"></i></a>&nbsp;
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-t-title fa fa-github"></i></a>&nbsp;
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-t-title fa fa-linkedin"></i></a>
  </footer>

  <!-- End page content -->
</div>

</body>
</html>
