<!DOCTYPE html>
<html>
<title>Ontario Covid 2020</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/themes.css">
<link rel="stylesheet" href="static/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>

html,h1,h2 {font-family: 'Lato', sans-serif;font-weight: 400;}
body,h3,h4,h5 {font-family: 'Roboto', sans-serif;font-weight: 400;}
.bold {font-weight: 700;}

</style>

<body class=" {{ theme }}-colour">
<!-- Top container -->
<div class="container">
{% block content %}{% endblock %}

  <!-- Footer -->
  <footer style="border-radius: 0.5rem; padding: 20px 20px;">
    <h4><b>Powered by Fifi</b></h4>
    <a><b>Todd McCullough</b></a>&nbsp;
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="fa fa-twitter" style="color: white;"></i></a>&nbsp;
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="fa fa-github" style="color: white;"></i></a>&nbsp;
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="fa fa-linkedin" style="color: white;"></i></a>
  </footer>

  <!-- End page content -->
</div>

</body>
</html>
