{% extends 'base.html' %}
{% block content %}
<!-- !PAGE CONTENT! -->
<hr class="hrspace">
<div class="container">
  <div class="page80">
  <div class="spacer"></div>
    <!-- Header -->
    <div class="mobile textcenter" style="border-radius: 0.5rem;">
      <h2 style="display: inline;"><b>ON,CA</b> Covid19</h2>
      <h2 class="{{ theme }}-t-orange" style="display: inline;"> As of {{ last_month[0:3] }} {{ yesterday }}</h2>
      <hr>
      <table>
        <tr>
          <td class="tdcenter"><h3 class=" {{ theme }}-t-blue" style="display: inline;"><b>{{ total_cases }}</b></h3><h3 class="{{ theme }}-t-orange" style="display: inline;"> Total Cases</h3></td>
          <td class="tdcenter"><h3 class=" {{ theme }}-t-blue" style="display: inline;">Resolved: </h3><h3 class="{{ theme }}-t-orange" style="display: inline;"><b>{{ outcomes.at[1,'count'] }}</b></h3></td>
        </tr>
        <tr>
          <td class="tdcenter"><h3 class="{{ theme }}-t-orange" style="display: inline;">+{{ change.loc[0,'change'] }}</h3><h3 class=" {{ theme }}-t-blue" style="display: inline;"><b> | {{ change.loc[0,'ratio'] }}</b></h3></td>
          <td class="tdcenter"><h3 class="{{ theme }}-t-orange" style="display: inline;">+{{ change.loc[1,'change'] }}</h3><h3 class=" {{ theme }}-t-blue" style="display: inline;"><b> | {{ change.loc[1,'ratio'] }}</b></h3></td>
        </tr>
        <tr>
          <td class="tdcenter"><h3 class=" {{ theme }}-t-blue" style="display: inline;">Sick: </h3><h3 class="{{ theme }}-t-orange" style="display: inline;"><b>{{ outcomes.at[2,'count'] }}</b></h3></td>
          <td class="tdcenter"><h3 class=" {{ theme }}-t-blue" style="display: inline;">Fatal: </h3><h3 class="{{ theme }}-t-orange" style="display: inline;"><b>{{ outcomes.at[3,'count'] }}</b></h3></td>
        </tr>
        <tr>
          <td class="tdcenter"><h3 class="{{ theme }}-t-orange" style="display: inline;">+{{ change.loc[2,'change'] }}</h3><h3 class=" {{ theme }}-t-blue" style="display: inline;"><b> | {{ change.loc[2,'ratio'] }}</b></h3></td>
          <td class="tdcenter"><h3 class="{{ theme }}-t-orange" style="display: inline;">+{{ change.loc[3,'change'] }}</h3><h3 class=" {{ theme }}-t-blue" style="display: inline;"><b> | {{ change.loc[3,'ratio'] }}</b></h3></td>
        </tr>
      </table>
    </div>

    <div class="desktop" style="border-radius: 0.5rem; line-height: 0.25em;">
      <h1 class="{{ theme }}-t-orange" style="display: inline;"><b>ON, CAN</b></h1>
      <h1 style="display: inline;"> - Covid-19 - </h1>
      <h1 class="{{ theme }}-t-orange" style="display: inline;"> As of {{ last_month[0:3] }} {{ yesterday }}</h1>
      <div class="spacer"></div><div class="spacer"></div>
      <hr>
      <table>
        <tr>
          <td><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b>{{ total_cases }}</b></h2><h2 class="{{ theme }}-t-orange" style="display: inline;"> Total Cases</h2></td>
          <td style="text-align: center;"><h2 class=" {{ theme }}-t-blue" style="display: inline;">Resolved: </h2><h2 class="{{ theme }}-t-orange" style="display: inline;"><b>{{ outcomes.at[1,'count'] }}</b></h2></td>
          <td style="text-align: center;"><h2 class=" {{ theme }}-t-blue" style="display: inline;">Sick: </h2><h2 class="{{ theme }}-t-orange" style="display: inline;"><b>{{ outcomes.at[2,'count'] }}</b></h2></td>
          <td style="text-align: right;"><h2 class=" {{ theme }}-t-blue" style="display: inline;">Fatal: </h2><h2 class="{{ theme }}-t-orange" style="display: inline;"><b>{{ outcomes.at[3,'count'] }}</b></h2></td>
        </tr>
        <tr>
          {% if change.loc[0,'change'] > 0 %}
          <td><h2 class="{{ theme }}-t-orange" style="display: inline;">+{{ change.loc[0,'change'] }}</h2><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b> | %{{ (change.loc[0,'ratio'] * 100) | round(2) }}</b></h2></td>
          {% else %}
          <td><h2 class="{{ theme }}-t-orange" style="display: inline;">{{ change.loc[0,'change'] }}</h2><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b> | %{{ (change.loc[0,'ratio'] * 100) | round(2) }}</b></h2></td>
          {% endif %}
          {% if change.loc[1,'change'] > 0 %}
          <td style="text-align: center;"><h2 class="{{ theme }}-t-orange" style="display: inline;">+{{ change.loc[1,'change'] }}</h2><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b> | %{{ (change.loc[1,'ratio'] * 100) | round(2) }}</b></h2></td>
          {% else %}
          <td style="text-align: center;"><h2 class="{{ theme }}-t-orange" style="display: inline;">{{ change.loc[1,'change'] }}</h2><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b> | %{{ (change.loc[1,'ratio'] * 100) | round(2) }}</b></h2></td>
          {% endif %}
          {% if change.loc[2,'change'] > 0 %}
          <td style="text-align: center;"><h2 class="{{ theme }}-t-orange" style="display: inline;">+{{ change.loc[2,'change'] }}</h2><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b> | %{{ (change.loc[2,'ratio'] * 100) | round(2) }}</b></h2></td>
          {% else %}
          <td style="text-align: center;"><h2 class="{{ theme }}-t-orange" style="display: inline;">{{ change.loc[2,'change'] }}</h2><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b> | %{{ (change.loc[2,'ratio'] * 100) | round(2) }}</b></h2></td>
          {% endif %}
          {% if change.loc[3,'change'] > 0 %}
          <td style="text-align: right;"><h2 class="{{ theme }}-t-orange" style="display: inline;">+{{ change.loc[3,'change'] }}</h2><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b> | %{{ (change.loc[3,'ratio'] * 100) | round(2) }}</b></h2></td>
          {% else %}
          <td style="text-align: right;"><h2 class="{{ theme }}-t-orange" style="display: inline;">{{ change.loc[3,'change'] }}</h2><h2 class=" {{ theme }}-t-blue" style="display: inline;"><b> | %{{ (change.loc[3,'ratio'] * 100) | round(2) }}</b></h2></td>
          {% endif %}
        </tr>
      </table>
    </div>
  </div>
  <div class="spacer">

  </div>
</div>
<div class="container">
  <div class="page80">
    <div class="{{ theme }}-light" style="border-radius: 0.5rem; padding: 20px 20px;">
      <h2>The current Pandemic Curve is {% if trend[2] > trend[1] %}growing <strong>Worse{%else%}starting to <strong>Flatten Out{% endif %}</strong>.</h2>
      <p> Total Cases has <em>{% if change.loc[0,'change'] > 0 %}increased{%else%}decreased{% endif %}</em> by <strong>{{ change.loc[0,'change'] }}</strong> to <strong>{{ total_cases }}</strong>, which is a change of <strong>{{ (change.loc[0,'ratio'] * 100) | round(2) }}%</strong>.
        <br>{% if (change.loc[0,'change'] > 0) and (change.loc[1,'change'] > 0) %}Meanwhile{%else%}However{% endif %},
        Total Resolved Cases - which currently makes up <strong>{{ ((outcomes.at[1,'count']/total_cases)*100) | round(2) }}%</strong> of Total Cases -
        has also <em>{% if change.loc[1,'change'] > 0 %}increased{%else%}decreased{% endif %}</em> by <strong>{{ change.loc[1,'change'] }}</strong> to a total of <strong>{{ outcomes.at[1,'count'] }}</strong>,
        a change of <strong>{{ (change.loc[1,'ratio'] * 100) | round(2) }}%</strong>.
        <br>Total Active Cases has also <em>{% if change.loc[2,'change'] > 0 %}increased{%else%}decreased{% endif %}</em> by <strong>{{ change.loc[2,'change'] }}</strong> to a total of <strong>{{ outcomes.at[2,'count'] }}</strong>, a change of <strong>{{ (change.loc[2,'ratio'] * 100) | round(2) }}%</strong>.
        <br>Total Fatalities in Ontario due to Covid-19 has also <em>{% if change.loc[3,'change'] > 0 %}increased{%else%}decreased{% endif %}</em> by <strong>{{ change.loc[3,'change'] }}</strong> to a total of <strong>{{ outcomes.at[3,'count'] }}</strong>, a change of <strong>{{ (change.loc[3,'ratio'] * 100) | round(2) }}%</strong>.
      </p>
    </div>
  </div>
</div>
<hr class="hrspace">
<div class="container">
  <div class="page80">
    <!-- last 16 days charts and graphs -->
    <div class="{{ theme }}-dark" style="border-radius: 0.5rem; padding: 20px 20px;">
    <h3 class="{{ theme }}-t">Cases Over the Last 16 Days</h3>
        <div class="parent">
          <!-- pie 1 -->
          <div class="box">
            <a class="{{ theme }}-t-blue" style="display: inline;">Gender Groups </a>
            <a class="{{ theme }}-t-yellow" style="display: inline;">Positive with Covid 19</a>
            <div><img class="center" src="static/images/bar/last16day-cases.png" alt="Cases past 16 days" style="max-width:95%"></div>
          </div>
          <div class="box">
            <a class="{{ theme }}-t-blue" style="display: inline;">Total Daily Count </a>
            <a class="{{ theme }}-t-yellow" style="display: inline;">Past 16 Days</a>
            <div><img class="center" src="static/images/graph/ontario-recent_daily_cases_count.png" alt="Ontario Age Groups" style="max-width:95%;max-height:600px"></div>
          </div>
          <div class="box">
            <a class="{{ theme }}-t-blue" style="display: inline;">Total Daily Deaths </a>
            <a class="{{ theme }}-t-yellow" style="display: inline;">Past 16 Days</a>
            <div><img class="center" src="static/images/graph/ontario-recent_daily_deaths_count.png" alt="Ontario Age Groups" style="max-width:95%;max-height:600px"></div>
          </div>
        </div>
        <div class="parent">
          <!-- pie 2 -->
          <div class="box">
            <a class="{{ theme }}-t-blue">Daily Cases (Last 16 Days) Gender Split</a>
            <div><img class="center" src="static/images/graph/16-days-total_count-male.png" alt="Total Outcomes" style="max-width:95%"></div>
          </div>
          <div class="box">
            <a class="{{ theme }}-t-blue">Daily Cases (Last 16 Days) Gender Split</a>
            <div><img class="center" src="static/images/graph/16-days-total_count-female.png" alt="Total Outcomes" style="max-width:95%"></div>
            </div>
          <div class="box">
            <a class="{{ theme }}-t-blue">Daily Cases (Last 16 Days) Gender Split</a>
            <div><img class="center" src="static/images/graph/16-days-total_count-transgender.png" alt="Total Outcomes" style="max-width:95%"></div>
          </div>
        </div>
    </div>
    <hr class="hrspace">
    <!-- PIE charts relating to demographics -->
    <div class="{{ theme }}-light" style="border-radius: 0.5rem; padding: 20px 20px;">
    <h3 class="{{ theme }}-t">Ontario Demographics</h3>
        <!-- pie charts -->
        <div class="parent">
        <!-- pie 1 -->
          <div class="box">
            <a class="{{ theme }}-t">Age Groups in Ontario</a>
            <div><img class="center" src="static/images/pie/ontario-age_groups.png" alt="Ontario Age Groups" style="max-width:95%"></div>
          </div>
          <!-- pie 2 -->
          <div class="box">
            <a class="{{ theme }}-t">Percentage Positive in Ontario</a>
            <div><img class="center" src="static/images/pie/all_ages-total_cases.png" alt="Age Groups Total Cases" style="max-width:95%"></div>
          </div>
          <div class="box">
            <a class="{{ theme }}-t">Positive in the last 16 days</a>
            <div><img class="center" src="static/images/pie/cases_by_age-16-days.png" alt="Cases past 8 days" style="max-width:95%"></div>
          </div>
        </div>
    </div>
    <hr class="hrspace">
    <!-- Top Areas of infection -->
    <div class="{{ theme }}-dark" style="border-radius: 0.5rem; padding: 20px 20px;">
    <h3 class="{{ theme }}-t">Public Health Unit Data</h3>
        <!-- bar charts -->
        <div class="parent">
          <!-- chart 1 -->
          <div class="box">
            <a class="{{ theme }}-t-blue" style="display: inline;">Top 10 PHUs / </a>
            <a class="{{ theme }}-t-yellow" style="display: inline;">Largest Covid 19 Caseload</a>
            <div><img class="center" src="static/images/bar/ontario-reporting_phu_city-top10.png" alt="Top 10 Reporting PHU" style="max-width:95%"></div>
          </div>
          <!-- chart 2 -->
          <div class="box">
            <a class="{{ theme }}-t-blue" style="display: inline;">Top 10 PHUs / </a>
            <a class="{{ theme }}-t-yellow" style="display: inline;">Current 16 Day Period</a>
            <div><img class="center" src="static/images/bar/ontario-reporting_phu_city-top10-recent.png" alt="Top 10 Reporting PHU" style="max-width:95%"></div>
          </div>
          <!-- chart 3 -->
          <div class="box">
            <a class="{{ theme }}-t-blue" style="display: inline;">Fatalities  / </a>
            <a class="{{ theme }}-t-yellow" style="display: inline;">Age Group & Gender</a>
            <div><img class="center" src="static/images/bar/fatalities.png" alt="Top 10 Reporting PHU" style="max-width:95%"></div>
          </div>
        </div>
    </div>
    <hr class="hrspace">
    <!-- Case Table -->
    <div class="{{ theme }}-light" style="border-radius: 0.5rem; padding: 20px 20px;">
      <h3 class="{{ theme }}-t">Total Ontario Cases</h3>
      <div>
        <!-- table header -->
        <div class="{{ theme }}-t">
          <div class="mobile">
            <table>
              <tr>
                <td><b>age </b></td>
                <td><b>female</b></td>
                <td><b>male</b></td>
                <td><b>trans</b></td>
                <td style="width: 15%"><b>total</b></td>
                <td><b>fatal</b></td>
              </tr>
              {%for i in range(0,on_cases.shape[0])%}
              <tr>
                <td> {{ on_cases.at[i,'age_group'][0:3] }}</td>
                <td> {{ on_cases.at[i,'female'] }}</td>
                <td> {{ on_cases.at[i,'male'] }}</td>
                <td> {{ on_cases.at[i,'transgender'] }}</td>
                <td style="width: 15%"> {{ on_cases.at[i,'total'] }}</td>
                <td style="color: white; background: black;"> {{ on_cases.at[i,'fatal-total'] }}</td>
              </tr>
              {%endfor%}
            </table>
          </div>
          <div class="desktop">
            <table>
              <tr>
                <td><b>age </b></td>
                <td><b>female</b></td>
                <td><b>male</b></td>
                <td><b>trans</b></td>
                <td><b>total</b></td>
                <td><b>case %</b></td>
                <td><b>female %</b></td>
                <td><b>male %</b></td>
                <td><b>fatal</b></td>
                <td><b>female</b></td>
                <td><b>male</b></td>
                <td><b>trans</b></td>
              </tr>
              {%for i in range(0,on_cases.shape[0])%}
              <tr>
                <td> {{ on_cases.at[i,'age_group'] }}</td>
                <td> {{ on_cases.at[i,'female'] }}</td>
                <td> {{ on_cases.at[i,'male'] }}</td>
                <td> {{ on_cases.at[i,'transgender'] }}</td>
                <td class="{{ theme }}-green"> {{ on_cases.at[i,'total'] }}</td>
                <td class="{{ theme }}-orange"> {{ on_cases.at[i,'case%'] }}</td>
                <td class="{{ theme }}-blue"> {{ on_cases.at[i,'f%'] }}</td>
                <td class="{{ theme }}-yellow">{{ on_cases.at[i,'m%'] }}</td>
                <td style="color: white; background: black;"> {{ on_cases.at[i,'fatal-total'] }}</td>
                <td style="color: white; background: black;"> {{ on_cases.at[i,'fatal-f'] }}</td>
                <td style="color: white; background: black;"> {{ on_cases.at[i,'fatal-m'] }}</td>
                <td style="color: white; background: black;"> {{ on_cases.at[i,'fatal-t'] }}</td>
              </tr>
              {%endfor%}
            </table>
          </div>
        </div>
      </div>
          <!-- end of table -->
    </div>
    <hr class="hrspace">
    <!-- charts & graphs -->
    <div class="mobile">
      <div class="{{ theme }}-dark" style="border-radius: 0.5rem; padding: 20px 20px;">
        <h3 class="{{ theme }}-t-orange">Total Daily Cases</h3>
        <div class="parent">
            <div class="center">
              <img src="static/images/graph/ontario-daily_cases_count_s.png" alt="Ontario Total Daily Cases" style="max-width:95%">
            </div>
        </div>
      </div>
      <hr class="hrspace">
      <div class="{{ theme }}-dark" style="border-radius: 0.5rem; padding: 20px 20px;">
        <h3 class="{{ theme }}-t-orange">Total Daily Deaths</h3>
        <div class="parent">
            <div class="center">
              <img src="static/images/graph/ontario-daily_deaths_count_s.png" alt="Ontario Total Daily Deaths" style="max-width:95%">
            </div>
        </div>
      </div>
    </div>

    <div class="desktop">
      <div class="{{ theme }}-dark" style="border-radius: 0.5rem; padding: 20px 20px;">
        <h3 class="{{ theme }}-t-orange">Total Daily Cases</h3>
        <div class="parent">
            <div class="center">
              <img src="static/images/graph/ontario-daily_cases_count.png" alt="Ontario Total Daily Cases" style="max-width:95%">
            </div>
        </div>
      </div>
      <hr class="hrspace">
      <div class="{{ theme }}-dark" style="border-radius: 0.5rem; padding: 20px 20px;">
        <h3 class="{{ theme }}-t-orange">Total Daily Deaths</h3>
        <div class="parent">
            <div class="center">
              <img src="static/images/graph/ontario-daily_deaths_count.png" alt="Ontario Total Daily Deaths" style="max-width:95%">
            </div>
        </div>
      </div>
    </div>


  </div>

{% endblock %}
